.message-container {
    width: 100%;
    margin: 0;
    flex-grow: 1;
}

.message__name {
    color: white;
    text-decoration: none;
    width: 100%;

}

.message-container:hover {
    background-color: #364157;
}