.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: auto;
  color: white;
  background-color: #8a95ad;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: repeat(20%, 5);
  grid-gap: 10px;

  grid-template-areas: 'h h'
    'n p'
    'n p'
    'n p'
    'n p'
    'n p';
}

.wrapper>div {
  border-radius: 20px;
  background-color: #282c34;
}

.header {
  grid-area: h;
}

.nav-bar {
  grid-area: n;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-bar__link {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.nav-bar__link:hover {
  color: #6185fb;
}

.profile {
  grid-area: p;
  padding: 40px;
}

.profile__user {}

.profile-user__img {
  width: 100px;
}

.header__logo {
  width: 50px;
  height: 50px;
}